{% extends 'main/layout.html' %}

{% load crispy_forms_tags %}

{% block title %}Авторизация{% endblock %}

{% block content %}

	<div class="content-section">
		<form method="POST">
			{% csrf_token %}
			<fieldset class="form-group">
				<legend class="border-bottom mb-4">Регистрация</legend>
				{{ form|crispy }}
			</fieldset>

			Регистрируясь, вы подтверждаете правила.

			<div class="form-group">
				<button class="btn btn-outline-info" type="submit">Регистрация</button>
			</div>
		</form>
		<div class="border-top pt-3">
			<small class="text_muted">
				Уже зарегистрированы? <a class="ml-2" href="/login">Войдите</a>
 			</small>
		</div>
	</div>



<!--    <h1 class="auth-header" >Авторизация</h1>-->
<!--	<form class="auth-form" method="POST">-->
<!--		{% csrf_token %}-->
<!--		<label class="auth-label" for="username">Username:</label>-->
<!--		<input class="auth-input" type="text" id="username" name="username" required><br><br>-->
<!--		<label class="auth-label" for="password">Password:</label>-->
<!--		<input class="auth-input" type="password" id="password" name="password" required><br><br>-->
<!--&lt;!&ndash;		<input class="auth-input" type="submit" value="Log In">&ndash;&gt;-->
<!--		<button class="auth-button-login" type="button" onclick="login()">Войти</button>-->
<!--		<button class="auth-button-forgot" type="submit">Регистрация</button>-->
<!--	</form>-->
{% endblock %}