{% extends 'main/layout.html' %}

{% block title %}Корзина{% endblock %}

{% block content %}

<table class="table_cart">
    <thead>
        <tr>
          <th>Title</th>
          <th>Quantity</th>
          <th>Cost</th>
        </tr>
      </thead>
    <tbody>
        {% for cart in carts %}
        <tr>
          <td>{{ cart.good.title }}</td>
          <td>{{ cart.quantity }}</td>
          <td>{{ cart.good.cost }}</td>
            <td>
              <a href="{% url 'cart_remove' cart.id %}">
                <i class="fas fa-trash"></i>
            </a>
            </td>
        </tr>
        {% endfor %}
      </tbody>
      <tfoot class="pip">
        <tr>
          <td>Total</td>
          <td>6</td>
          <td>$60.00</td>
        </tr>
      </tfoot>
</table>

{% endblock %}

