{% extends 'main/layout.html' %}

{% block title %}Корзина{% endblock %}

{% block content %}

<table class="table_cart">
    <thead>
        <tr>
          <th>Название</th>
          <th>Количество</th>
          <th>Цена</th>
            <th>Сумма</th>
            <th>Действия</th>
        </tr>
      </thead>
    <tbody>
        {% for cart in carts %}
        <tr>
          <td>{{ cart.good.title }}</td>
          <td>{{ cart.quantity }}</td>
          <td>{{ cart.good.cost }}</td>
            <td>{{ cart.sum }} руб.</td>
            <td>
              <a href="{% url 'cart_remove' cart.id %}">
                <i class="fas fa-trash"></i>
            </a>
            </td>
        </tr>
        {% endfor %}
      </tbody>
      <tfoot class="pip">
        <tr>
          <td>Итого</td>
          <td>{{ total_quantity }}</td>
          <td></td>
            <td>{{ total_sum }} руб.</td>
        </tr>
      </tfoot>
</table>

{% endblock %}

