{% extends 'main/layout.html' %}

{% block title %}Товары{% endblock %}

{% block content %}
    <div class="features">
        <h1>Товарные позиции</h1>
        <div class="grid">
            {% for el in goods %}
            <div class="alert alert-warning">
                <h3>{{ el.title }}</h3>
                <p>{{ el.cost }} руб.</p>
                <img class="goods_image" src="{{ el.image.url }}" width="300">
                <a class="btn-add-to-cart" href="{% url 'add_to_cart' good_id=el.id %}"></a>
            </div>
        {% endfor %}
        </div>
        <div class ="filter-menu">
            <h3 style="color: white; font-size: 22px; font-weight: bold;">Фильтр товаров</h3>
                <form>
                    <label style="color: white; font-size: 18px;">Производитель</label>
                    <select style="color: black; font-size: 14px;">
                        <option value="manu1">Apple</option>
                        <option value="manu2">Google</option>
                        <option value="manu3">Samsung</option>
                    </select>
                    <label style="color: white; font-size: 18px;">Диапазон цен</label>
                    <input type="range" min="10" max="100" value="50" class="slider" id="priceRange" style="color: white; font-size: 14px;">
                </form>
        </div>
    </div>
{% endblock %}