body {
    background: #2c2c2c;
}

aside  {
    float: left;
    background: #181818;
    width: 20%;
    padding: 2.5%;
    height: 100vh;
    color: #fff;
    border-right: 5px solid #4d4d4d;
}

aside img {
    width: 60px;
    margin: auto;
}

aside p {
    font-size: 30px;
    margin-left: 10px;
    font-weight: bold;
}

aside h3 {
    margin-top: 50px;
    font-size: 28px;
    text-align: center;
}

aside ul {
    list-style: none;
}

aside ul li {
    color: #fff;
    display: block;
    margin-top: 20px;
    text-align: center;
    padding-right: 30px;
    transition: transform .6s ease;
}

aside a{
    text-decoration:none;
}

aside ul li:hover, aside ul a:hover {
    color: #eb5959;
    text-decoration: none;
    transform: scale(1.1);
}

main .features {
    float: left;
    color: #fff;
    margin-top: 50px;
    text-align: center;
    width: 75%;
}

main .features h1 {font-size: 50px;}
main .features p {max-width: 400px; margin: 20px auto}

.alert-warning {
    background: #181818;
    color: #fff;
    width: 300px;
    margin: 20px auto;
    text-align: center;
}

.alert-warning p {
    color: gold;
    text-align: right;
}

.grid {
    padding-left: 75px;
    padding-top: 20px;
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-column-gap: 150px;
    grid-row-gap: 1em;
}
